/* шрифты */


/* переменные */
:root{
    --main-color:#757575;
    --title-color:#212121;
    --accent-color:#2196F3;
    --white-color:#FFFFFF;

    --white-bgc: #FFFFFF;
    --dark-bgc: #2F303A;
    --main-section-bgc: #E5E5E5;
    --second-section-bgc: #F5F4FA;
    --accent-bgc: #2196F3;

    --mein-font-famely-Roboto: "Roboto"; 
    --mein-font-famely-Raleway: "Raleway";

    --grid-item:4;
}

/* теги */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


header{
    border-bottom: 1px solid #ECECEC;
}

body {
    font-family: "Roboto", sans-serif;
}

img {
    display: block;
    height: auto;
    min-width: 100%;
}


/* утилиты */
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
h1, h2, h3, h4{
    margin-top: 0;
    margin-bottom: 0;
}
p, ul, li{
    margin: 0;
    padding: 0;
}



/* общие класы */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.section{
    margin-bottom: 94px;
}
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.link {
    text-decoration: none;
    color: var(--main-color);
}
.link :hover,
.link :focus{
    color: var(--accent-color);
}
/* cетка елементов */
.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;   
}

.grid-item{
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - var(--grid-item) * 30px) / var(--grid-item));
}


/* соцыальные сети */
.contact-icon{
    fill: currentColor;
    margin-right: 10px;
}


/* общие стили для заголовков */
.title-section{
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);

}
/* стилизвция по порядку */

/* header */
header> .container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.link-logo{
    margin-right: 93px;
    font-family: Raleway;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    
    letter-spacing: 0.03em;
}
.logo-web{
    color: var(--accent-color);

}
.logo-studio{
    color: var(--title-color);
}

.mein-nav{
    display: flex;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-items li + li{
    margin-left: 50px;
}

.nav-item{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px ;
}

.contact-items{
    display: flex;
    margin-left: auto;
}
.contact-items :not(:last-child){
    margin-right: 30px;
}


/* mein */
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 96px;
    background-image: 
    url(../images/hero-bg.jpg), 
    linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4));
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    height: 600px;
    background-color: var(--dark-bgc);
}
.title-hero{
    margin-bottom: 30px;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-color);

}
.button-hero{
    
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.06em;

    color: var(--white-color);
    background: var(--accent-bgc);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px
    ;
}


/* work principles */
.work-principles-items{

}

.work-principles-item{

}

.work-principles-box-icon{
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: var(--second-section-bgc);
}

.work-principles-icon{
    width: 70px;
    height: 70px;

}

.work-principles-title{
    margin-bottom: 10px;
    
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-color);
}

.work-principles-text{
    
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: var(--main-color);
}

/* What are we doing */
.our-work-items{
    --grid-item:3; 
}

/* our team */
.team{
    padding-top: 94px;
    background-color: var(--second-section-bgc);
}
.team-card{
    background:var(--white-bgc);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-title{
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-color);
}
.team-text{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-color);
}

/* team-social */
.team-icons-social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.team-icons-social:not(:last-child){
    margin-right: 10px;
}
.team-social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--main-color);
}
.team-social-link:hover,
.team-social-link:focus{
    background:var(--accent-bgc);
    color: white;
}

.team-icon-social{
    width: 20px;
    height: 20px;
    fill: currentColor;
}



/* our-clients */
.section-client{
    padding-top: 89px;
    padding-bottom: 75px;
}

.clients-list{
    display: flex;
} 

.client-icon {
        width: 106px;
        height: 60px;
        fill: currentColor;
    }


    .clients-list :not(:last-child){
        margin-right: 30px;
    }
.client-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    color: var(--main-color)
}
.client-link:focus,
.client-link:hover{
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/* footer */
footer>.container{
    display: flex;
    align-items: center;
    background-color: var(--dark-bgc);
    padding-top: 60px;
    padding-bottom: 90px;
}
.address-box{
    margin-right: 70px;
}


.logo-studio-footer{
    color: var(--white-color);
}

.address{
    text-decoration: none;
    margin-top: 20px;
}
.map{
    color: var(--white-color);
    font-style: normal;
}
.mail-footer{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}

.addres-item{
    margin-top: 9px;
}

.title-footer{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);
}

.icons-social{
    margin-top: 20px;
    display: flex;
}

.social-link-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}
.icons-social :not(:last-child){
    margin-right: 10px;
}
.icon-social{
    width: 20px;
    height: 20px;
    }

.social-link-footer:focus,
.social-link-footer:hover {
    background-color: var(--accent-bgc);
}



/* portfolio stiles */

.portfolio-header:after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-bgc);
}

.portfolio-section{
    margin-top: 94px;
    margin-bottom: 94px;
    /* background-color: var(--main-section-bgc); */
}

.button-list{
    display: flex;
    justify-content: center;
}

.button-list :not(:last-child){
    margin-right: 9px;
}

.portfolio-buttom{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;

    color: var(--title-color);
    border: 0px;
    border-radius: 4px;
}

.portfolio-buttom:hover,
.portfolio-buttom:focus{
    color: var(--white-color);
    background-color: var(--accent-bgc);
}

